* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 75%;
}

#cli-container {
    display: grid;
}
.cli {
    width: 25%;
    background-color: #eee;
    font-family: monospace;
    font-size: 12px;
}
.scroll {
    overflow: scroll;
    height: 300px;
}
.outputs {
    white-space: pre-wrap;
}
